/// fuentes y colores standar d del site

//colores
 $negro: rgb(6, 0, 10);
 $gris: rgb(92, 92, 92);
 $cacao: rgb(89, 48, 5);
 $beige: rgb(254, 253, 240);
 $d-beige: rgb(217, 213, 189);

//fuentes

@font-face {
    font-family: 'montserrat_semibold';
    src: url('fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_light';
    src: url('fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'stockholm';
    src: url('fonts/stockholm-webfont.woff2') format('woff2'),
         url('fonts/stockholm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

//tipos de texto

$standard: 'montserrat_Light', helvetica, arial;
$strong: 'montserrat_semibold', helvetica, verdena;
$title: 'stockholm', Sans, verdana;

h1, h2, h3, h4, h5, h6{
  font-family: $title;
  font-weight: normal;
  color: $cacao;
}

p{
  font-family: $standard;
  font-size: 18px;
  color: $cacao;
}

a{
  font-family: $standard;
  font-size: 18px;
  &:hover{
    transition: all 0.8s ease;
    color: $cacao;
    img{
      opacity: 0.8;
      transition: all 0.8s ease;
    }
  }
}
