@media all and( max-width: 700px) {
  header{
    .r1, .r2{
      z-index: 1;
      max-width: 120px;
    }
     .r3, .r4{
       z-index: 1;
       max-width: 120px;
       bottom: -35vh;
     }
     .title{
       p:nth-child(4){
         font-size: 1em;
       }
     }

    .brand{
      z-index: 99;
      max-width: 300px;
      position: relative;
      text-align: center;
    }
    .go-down{
      width: 80%;
      font-size: 1em;
    }
    .b1, .b2, .b3{
      z-index: 1;
    }
    .b3{display: none;}
  }
  #container{
    .daTrack{display: none;}
    h1.title{margin-top: 160px;}
    .estacion1, .estacion2, .estacion3, .estacion4, .estacion5, .estacion8, .estacion9, .estacion10{
      width: 100%;
      margin: 0 auto;
      text-align: center;
      .copy1, .copy{
        max-width: 300px;
        text-align: center;
        margin: 0 auto;
      }
    }
    .estacion1{
      height: auto;
      min-height: 300px;
      margin-bottom: 50px;
      .materos{
        // width: 100%;
        // min-height: 300px;
      }
    }
    .estacion2{
      .brush{
        z-index: 90;
        position: absolute;
        bottom: -128px;
        right: 0px;

      }

      .brush1{
          z-index: 1;
          position: absolute;
          bottom: -95px;
          right: 0px;
      }
      .brush2{
        z-index: 90;
        position: absolute;
        bottom: -80px;
        right: 0px;
        width: 50%;

      }
      height: auto;
      max-height: 570px;
      margin-bottom: 0px;
      .planta-est2{
        width: 80%;
        max-height: 400px;
        margin: 58px;
        img{
          max-width: 300px;
        }
      }
    }
    .estacion3{
      max-height:1100px;

      .planta1-est3{

        width: 70%;
        margin-left:-35px;
        left: -32px !important;
        img{
          max-width: 300px;
        }
      }
      .planta2-est3{
        max-width: 500px;
        right: 0px;
        img{
          max-width: 495px;
          margin-left: -287px;
        }

      }
      .planta-est3{
          left: -20px !important;
        .agua {
          width: 50%;
          margin: 0 0 0 2%;
          top: -50px;
          position: relative;
          opacity: 0;

        }

      }
      .brush1{
        bottom: 30px;
        max-width: 224px;
        max-width: 190px;
        position: absolute;
        left: -21px;
        z-index: 20;
      }
    }
    .estacion4{
      margin-bottom: 120px;
      .cesta{
        max-width: 200px;
        position: absolute;
        right: 25% !important;
        bottom: 0;
        z-index: 3;
      }
      .planta-est4 {
        .rama1{
          position: absolute;
          z-index: 2;
          max-width: 318px;
          right: -500px;
          top: -20%;
          overflow: hidden;
        }
        .rama2{
            position: absolute;
            z-index: 1;
            top: -18%;
            max-width: 77%;
            right: -500.8px;
            overflow: hidden;
        }
        height: 600px;
        position: relative;
        left: 0%;
      }
    }
    .estacion5{

      margin-top: 200px;
      top: 20px;
      left: 0px;
      right: 0px;
      margin: 0 auto;

      .brush{
        max-width: 415px;
        position: absolute;
        left: 0px;
        z-index: 1;
      }
      .c-semillas{
        top: 40%;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        max-width:80%;
      }
    }
    .estacion6{

      min-height: 650px;
      margin-bottom: 100px;
      margin-top:35px;

      .brush{
      max-width: 780px;
      position: absolute;
      top: 50px;
      right: 0px;
      z-index: 1;

      }
      .caja{
        max-width: 60% !important;
      }
      .planta-est6{
        .semillas {
          max-width: 99%;
          position: absolute;
          bottom: 0px;
          right: -800px;
        }
        .caja{
          top: 19%;
          width: 50%;
        }
      }
    }
    .estacion7{
      max-height: 300px;
      margin-bottom: 0px;
      margin-top:0;
      .planta-est7{
        top: 150px;
      }
      .brush{
        top: 150px;
      }

      img {
        width:80%;
      }
    }
    .estacion8{
      max-height: 300px;
      margin-bottom: 100px;
      .brush {
        position: absolute;
        top: -5px;
        left: 0px;
        max-width: 770px;
        z-index: 1;
      }
      .planta-est8{
        position: relative;
        left: 0px;
        width: 80%;
        margin: 0 auto;
        top:59px;
        img{
          width: 100%;
        }
        img.saco-flip{
          bottom: 310px;
          left: 0px !important;
          max-width: 35%;
        }
        .semillas{
          left: 100px;
          max-width: 29%;
        }
      }
    }
    .estacion9{
      text-align: center;
      margin-bottom: 80px !important;
      .planta-est9{
        margin-bottom: 100px !important;
        margin-top: -110px;
        .maquina{
          top: 350px;
          position: relative !important;
          left: 0px !important;
          right:0px !important;
          margin: 0 auto;
          width: 60%;
          display: block;
        }
        .s-small{
          top: -5% !important;
          position: relative !important;
          left: 0px !important;
          right: 0px !important;
          margin: 0 auto;
          display: block;
          width:15%;
        }
      }
    }
    .estacion10{
      display: block;
      position: relative;
      margin-top:500px;
      padding-bottom:0px;
      .planta-est10{
        position: relative;
        height: auto;
        display: block;
        width: 100%;
        max-height: 400px;
        // overflow: auto;
        img{
          max-width: 300px;
        }
        .choco{
          max-width: 280px;
          top: 25px;
          right: 50px !important;
        }

      }
    }
    //copy
    .copy-mobile1{
      display: block !important;
      position: relative;
      z-index: 999;
      margin: 10px auto;
      text-align: center;
      text-transform: uppercase;
      p{font-family: $strong !important;}
      h2{font-family: $title;}
    }
    .copy-mobile2{
      display: block !important;
      position: relative;
      z-index: 999;
      margin: 10px auto;
      text-align: center;
      text-transform: uppercase;
      p{font-family: $strong !important;}
      h2{font-family: $title;}
    }
  }
  .importancia{
    .cacao1, .cacao2{
      max-width: 120px;
    }
    .copy{
      padding-top: 40px;
    }
  }
  .el-plan{
    .copy{
      position: relative;
      top: 30px;
      z-index: 99;
      width: 80%;
      background: rgba(217, 213, 189, 0.6);
    }
  }
  .porque{
    min-height: 400px;
    h1{
      position: relative;
      z-index: 99;
      margin: 42px auto;
    }
    .content-slide{
      top: 30px;
      z-index: 99;
      width: 90%;
      background: rgba(217, 213, 189, 0.6);
    }
    .custom-navigation{
      width: 100%;
      top: 45vh;

    }
    .cacao1{
      max-width: 80px;
    }
  }
  footer{
    flex-flow: column;
    p{
      text-align: center;
      padding: 20px 4%;
    }
  }
  .content{
    article{
      margin: 10vh auto;
      overflow: auto;
      padding: 20px;
      height: auto;
      max-height: 400px;
      section{
        width: 80% !important;
        margin: 0 auto;
        position: relative !important;
      }
    }
  }
}

@media all and(min-width: 700px){
  #container{
    figure.daTrack{
      width: 100% !important;
      margin: 0 auto;
      margin-top: 400px;
      svg{
        position: relative;
        z-index: 99;
        height: inherit;
        max-width: 1000px !important;
      }
    }

  }
}

@media all and(min-width: 1500px) {
  #container{
    .estacion8{
      .planta-est8{
        left: 6vh;
      }
    }
    .estacion9{
      .planta-est9{
        right: 25vh;
      }
    }
  }
}
