body {
    overflow: hidden;
}

/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: $beige; /* change if the mask should have another color then white */
    z-index:9999999999999999; /* makes sure it stays on top */
}

#status {
    text-align: center;
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    // background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
    i{
      font-size: 2em;
      color: $cacao;
    }
    h1{
      font-size: 2em;
      color: $cacao;
    }
}
