/*
	Theme Name: plan cacao
	Theme URI: http://24siete.hacemosloquenosgusta.com
	Description: Template Savoy plan cacao
	Version: 1.0
	Author: Jose Avila
	Author URI: http://joseavila.com.ve
	Tags: Blank, HTML5, CSS3, javascript

	License: grupo hacemosloquenosgusta
	License URI: http://hacemosloquenosgusta.com
*/
/*////////////reset///////////////*/
body,div,a,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,img,form,fieldset,input,textarea,blockquote{ margin:0;padding:0;border:0;outline:none; text-decortion: none !important;}


a{text-decoration: none !important;}
figure{margin:0px;}
