@import "reset";
@import "fonts-colors";
@import "effects";
@import "preloader";

//browser defaults
::-webkit-scrollbar{
  width: 8px;
  background: lighten($cacao, 20%);
}

::-webkit-scrollbar-thumb{
  background: $cacao;
  border-radius: 8px;
}

::-webkit-scrollbar:horizontal{
  height: 8px;
  background: lighten($cacao, 20%);
}

body{
  width: 100vw;
  overflow-x: hidden;
}

header{
  z-index: 99;
  width: 100%;
  min-height: 700px;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  text-transform: uppercase;
  a{color: $cacao;}
  .brand{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    img{
      margin: 50px 30px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .title{
    text-align: center;
    h1{
      color: $cacao;
      font-size: 40px;
      font-family: $strong;
    }
    p{
        font-size: 35px;
        span{font-size: 45px; font-family: $strong; display: inline-block; vertical-align: middle;}
    }
    p:nth-child(4){
      font-size: 28px !important;
    }
    .b1{
      top: 0vh;
      left: 20vw;
      position: absolute;
      transform: rotate(19.1deg);
    }
    .b2{
      top: 0vh;
      right: 20vw;
      position: absolute;
      transform: rotate(104.6deg);
    }
    .b3{
      top: 0vh;
      left: 30vw;
      position: absolute;
      transform: rotate(5deg);
    }
  }
  .go-down{
    width: 300px;
    margin: 80px auto;
    text-align: center;
    i{margin: 20px; font-size: 2em}
  }
  .r1{
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .r2{
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .r3{
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .r4{
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
}

//the begin of hell

.down{
  display: block;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0 auto;
  text-align: center;
  z-index: 5;
  &:before{
      
  }
}

#container{
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-size: cover !important;
  background: url(images/c-bg.png) no-repeat;
  //estaciones
  h1.title{
    margin: 20px auto;
    max-width: 600px;
    position: relative;
    text-align: center;
  }
  .estacion1{
    max-width: 600px;
    height: 490px;
    margin: 0px 0 0 100px;
    margin-bottom: 505px;
    padding: 40px 0 0 0;
    position: relative;
    .materos{
      position: relative;
      img{
        position: absolute;
      }
      .m12{
        top: 0px;
        left: -120%;
        z-index: 1;
      }
      .m11{
        top: 0px;
        left: -120%;
        z-index: 1;
      }
      .m10{
        top: 0px;
        left: -140%;
        z-index: 1;
      }
      .m9{
        top: 0px;
        left: -160%;
        z-index: 1;
      }
      .m8{
        top: 20%;
        left: -160%;
        z-index: 2;
      }
      .m7{
        top: 20%;
        left: -140%;
        z-index: 2;
      }
      .m6{
        top: 20%;
        left: -120%;
        z-index: 2;
      }
      .m5{
        top: 20%;
        left: -120%;
        z-index: 2;
      }
      .m4{
        top: 50%;
        left: -120%;
        z-index: 3;
      }
      .m3{
        top: 0%;
        left: -260%;
        z-index: 3;
      }
      .m2{
        top: 0%;
        left: -260%;
        z-index: 3;
      }
      .m1{
        top: 0%;
        left: -260px;
        z-index: 3;
      }
      .luz{
        opacity: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 5;
      }
    }
    .copy1{
      margin: 40px 0px;
      width: 400px;
      position: relative;
      text-align: center;

    }
  }
  .estacion2{
    width: 100%;
    position: relative;
    margin-bottom: 150px;
    .planta-est2{
      // max-width: 690px;
      height: 600px;
      position: relative;
      right: 0;
      .est1-rama1{
        position: absolute;
        margin: 0px;
        top: 0px;
        right: -500px;
        z-index: 3;
      }
      .bee{
        position: absolute;
        margin: 0px;
        top: 0px;
        right: 0px;
        z-index: 4;
      }
      .est1-rama2{
        position: absolute;
        margin: 0px;
        top: -80px;
        right: -500px;
        z-index: 2;
      }
    }
    .brush1{
      z-index: 1;
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
    .brush2{
      z-index: 90;
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
  }
  .estacion3{
    position: relative;
    z-index: 2;
    max-height: 1000px;
    width: 100%;
    margin-bottom: 370px;
    .planta-est3{
      max-width: 500px;
      // left: 0px;
      position: relative;
      .agua{width: 50%; margin: 0 0 0 20%; top: -50px; position: relative; opacity: 0;}
      .planta1-est3{position: relative; left: -500px;}
    }
    .planta2-est3{
      position: relative;
      max-width: 800px;
      left: -500px;
      top: -200px;
      margin-left: -300px;
    }

    img{width: 80%;}
    
    .brush1{
      max-width: 254px;
      position: absolute;
      bottom: -278px;
      left: 0px;
      z-index: 20;
    }
    .brush2{
      max-width: 350px;
      position: absolute;
      bottom: 0px;
      left: 0px;
      z-index: 20;
    }
  }
  .estacion4{
    position: relative;
    min-height: 400px;
    margin-bottom: 300px;
    .planta-est4{
      // max-width: 420px;
      height: 800px;
      position: relative;
      left: 0%;
      img{width: 100%;}
      .rama1{
        position: absolute;
        z-index: 2;
        max-width: 375px;
        right: -500px;
        top: 0;
        overflow: hidden;
      }
      .rama2{
          position: absolute;
          z-index: 1;
          top: 0;
          max-width: 337px;
          right: -70.8px !important;
          overflow: hidden;
      }
    }
    .cesta{
      max-width: 264px;
      position: absolute;
      right: 0px;
      bottom: -58px;
      z-index: 3;
    }
  }
  .estacion5{
    position: relative;
    width: 100%;
    height: 600px;
    top: 250px;
    left: 0px;
    // margin-bottom: 330px;
    .copy{
      margin: 40px 0px;
      width: 400px;
      position: relative;
      text-align: center;

    }
    .c-semillas{
        max-width: 400px;
        top: 0px;
        margin-left: 230px;
        left: -80px;
        position: absolute;
        z-index: 2;
    }
    .brush{
      max-width: 600px;
      position: absolute;
      left: 0px;
      z-index: 1;
    }
  }
  .estacion6{
    width: 100%;
    min-height: 790px;
    position: relative;
    margin-top: 300px;
    margin-bottom: 480px;
    .planta-est6{
      img{width: 100%;}
      .caja{
        transform: rotate(46deg);
        max-width: 310px;
        top: 0px;
        position: absolute;
        right: -300px;
        z-index: 2;
      }
      .semillas{
        max-width: 30%;
        position: absolute;
        bottom: 0px;
        right: -800px;
      }
      .rastrillo{
        position: absolute;
        right: 0px;
        max-width: 350px;
        bottom: 0px;
        z-index: 3
      }
    }
    .brush{
      max-width: 780px;
      position: absolute;
      top: -100px;
      right: 0px;
      z-index: 1;
    }
  }
  .estacion7{
    position: relative;
    width: 100%;
    height: 700px;
    margin-top: 520px;
    margin-bottom:  200px;
    img{width: 55%;}
    .copy{
      left: 200px;
      margin: 40px 0px;
      width: 400px;
      position: relative;
      z-index: 3;
      top: -200px;
      text-align: center;

    }
    .planta-est7{
      position: absolute;
      left: -700px;
      top: 0px;
      z-index: 2;
      max-width: 860px;
    }
    .brush{
      position: absolute;
      z-index: 1;
      top: -160px;
      max-width: 850px;
    }

  }
  .estacion8{
    position: relative;
    height: 450px;
    width: 100%;
    margin-top: 500px;
    margin-bottom: 110px;
    .planta-est8{
      height: 400px;
      max-width: 600px;
      position: absolute;
      left: 8vh;
      .saco-front{
        max-width: 550px;
        position: absolute;
        left: -750px;
        top: 0px;
        z-index: 3;
      }
      .saco-back{
        max-width: 720px;
        position: absolute;
        left: -750px;
        z-index: 2;
        top: 0px;
      }
      .saco-flip{
        position: absolute;
        bottom: 200px;
        left: -580px;
        z-index: 4;
        transform: rotate(0deg);

      }
      .semillas{
        position: absolute;
        left: 820px;
        z-index: 3;
        bottom: -64.3px;
        opacity: 0;
        top: -10px;
      }
      .semillas2{
        position: absolute;
        left: 885px;
        z-index: 1;
        opacity: 0;
        top: 170px;
      }

    }
    .brush{
      position: absolute;
      top: -220px;
      left: 0px;
      max-width: 770px;
      z-index: 1;
    }
  }
  .estacion9{
    top: 200px;
    position: relative;
    .planta-est9{
      height: 500px;
      position: relative;
      margin-bottom: 600px;
      .maquina{
        position: absolute;
        right: 18%;
        max-width: 320px;
        z-index: 2;
        transform: rotate(0deg);
      }
      .s-small{
        position: absolute;
        top: -80px;
        right: 26%;
        max-width: 380px;
        opacity: 0;
        z-index: 1;
        transform: rotate(0deg);
      }
    }
  }
  .estacion10{
    // top: 220px;
    position: relative;
    height: 400px;
    padding-bottom: 100px;
    .copy{
      width: 400px;
      text-align: center;
      position: absolute;
      left: 130px;
      top: -200px;
      z-index: 4;
    }
    .planta-est10{
      .envoltorio{
        position: absolute;
        right: -700px;
        top: 1px;
        z-index: 2;
      }
      .choco{
        position: absolute;
        top: 60px;
        right: -700px;
        z-index: 1;
      }
    }
    .brush{
      position: absolute;
      top: 0px;
      left: 0px;
      max-width: 600px;
    }
  }
  .daTrack{
    position: absolute;
    top: 140px;
    z-index: 1;
    svg{
      position: relative;
      // left: 0px;
      // right: 0px;
      margin: 0 auto;
      .vector-copy path, .copy-holder path{opacity: 0; display: block;}
    }
  }
  .copy, .copy1{
    text-transform: uppercase;
    display: none;
    p{font-family: $strong;}
  }
  .copy-mobile1, .copy-mobile2{
    text-transform: uppercase;
    display: none !important;
  }

}

//modales
.modal{
  display: none;
  opacity: 0;
  margin: 0 auto;
  position: relative;
  max-width: 400px;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  border-radius: 10px;
  transition: 1s all ease;
  text-align: center;
  // text-transform: capitalize;
  p{
    font-size: large;
    color: white;
  }
  button{
    margin: 20px auto;
    background: transparent;
    border: 1px solid white;
    border-radius: 4px;
    padding: 8px 12px;
    color: white;
    transition: 1s all ease;
    &:hover{
      cursor: pointer;
      transition: 1s all ease;
      background: rgba(255, 255, 255, 0.5);
    }
  }
}
.content{
  top: 0px;
  display: none;
  position: fixed;
  left: 0px;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  article{
    max-width: 790px;
    height: 275px;
    margin: 20vh auto;
    background: $beige;
    padding: 80px;
    border-radius: 20px;
    position: relative;
    h1{
      font-size: xx-large;
       text-transform: uppercase;
       font-family: 'Montserrat', sans-serif;
     }
    .fa-close{
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: x-large;
      transition: 1s ease all;
      &:hover{
        color: lighten($cacao, 30%);
        transition: 1s ease all;
        cursor: pointer;
      }
    }
  }
}

.m1{
  .modal{

  }
  .content{
    article{
      background: url('images/bg_m1.png') no-repeat !important;
      background-size: contain;
    }
  }
}
.m2{
  .modal{
    top: 300px; right: 10%; position: absolute;
  }
  .content article{
    background: url('images/bg_m2.png') no-repeat !important;
    background-size: contain;
  }
}
.m3{
  .modal{
    top: 500px; left: 10%; position: absolute;
  }
  .content article{
    position: relative;
    background: url('images/bg_m3.png') no-repeat !important;
    background-size: contain;
    section{
      position: absolute;
      right: 50px;
      width: 40%;
    }
  }
}
.m4{
  .modal{
    top: 100px; right: 10%; position: absolute;
  }
  .content article{
    background: url('images/bg_m4.png') no-repeat !important;
    background-size: contain;
    section{
      top: 20px;
      width: 60%;
    }
  }
}
.m5{
  .modal{
    top: 120px; left: 15%; position: absolute;
  }
  .content article{
    background: url('images/bg_m5.png') no-repeat !important;
    background-size: contain;
    section{
      width: 60%;
    }
  }
}
.m6{
  .modal{
    top: 420px; right: 10%; position: absolute;
  }
  .content article{
    background: url('images/bg_m6.png') no-repeat !important;
    background-size: contain;
    section{
      width: 60%;
      position: absolute;
      right: 20px;
    }
  }
}
.m7{
  .modal{
    top: 20px; left: 10%; position: absolute;
  }
  .content article{
    background: url('images/bg_m7.png') no-repeat !important;
    background-size: contain;
    ul{
      li{
        font-family: $standard;
      }
    }
  }
}
.m8{
  .modal{
    top: 20px; left: 10%; position: absolute;
  }
  .content article{
    background: url('images/bg_m8.png') no-repeat !important;
    background-size: contain;
    section{
      right: 20px;
      position: absolute;
      width: 60%;
    }
  }
}
.m9{
  .modal{
    top: 80px; right: 10%; position: absolute;
  }
  .content article{
    background: url('images/bg_m9.png') no-repeat !important;
    background-size: contain;
    section{
      left: 20px;
      position: absolute;
      width: 60%;
    }
  }
}

.m-show{
  opacity: 1;
  display: block;
  transition: 1s all ease;
}

.lock-body{
  height: 100vh !important;
  overflow: hidden !important;
}

.importancia{
  width: 100%;
  min-height: 65vh;
  top: -20px;
  z-index: 3;
  padding: 50px 0px;
  position: relative;
  background-size: cover;
  background: url('images/brush-ending.png') no-repeat;
  .copy{
    width: 65%;
    margin: 10% auto;
    text-align: center;
    color: $cacao;
    text-transform: uppercase;
    h1{
    }
    p{
      margin: 20px auto;
      font-size: 22px;
      span{font-size: 30px; font-weight: 600; margin: 14px 0px;}
    }
    a{
      color: $cacao;
      i{
        font-size: 5em;
      }
    }
  }
  .cacao1{
    position: absolute;
    top: 20px;
    left: 0px;
  }
  .cacao2{
    position: absolute;
    top: 20px;
    right: 0px;
  }
  .cacao3{
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}

.el-plan{
  width: 100%;
  position: relative;
  min-height: 600px;
  z-index: 1;
  background: $d-beige;
  .copy{
    width: 45%;
    top: 90px;
    position: relative;
    margin: 0 auto;
    text-align: justify;
    h1{margin: 20px 0px;}
  }
  .rama1{
    // max-width: 143px;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
  }
  .rama2{
    bottom: 0px;
    right: 0px;
    position: absolute;
  }

}

.porque{
  width: 100%;
  background: $beige;
  min-height: 50vh;
  position: relative;
  h1{
    text-align: center;
    margin: 50px auto;
  }
  .content-slide{
    width: 50%;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    background: TRansparent !important;
    border: none !important;
  }
  .cacao1{
    left: 0px;
    top: 10px;
    position: absolute;
  }
  .cacao2{
    right: 0px;
    bottom: 10px;
    position: absolute;
  }
  .up{
    width: 300px;
    display: block;
    margin: 20px auto;
    text-align: center;
    line-height: 0px;
    i{
      font-size: 5em;
      margin: 0px;
      color: $cacao;
    }
    p{margin: 0px;}
    &:hover{
      cursor: pointer;
    }
  }
}

.custom-navigation{
  position: absolute;
  width: 60%;
  top: 100px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  z-index: 99999;
  a{
    color: $cacao;
    font-size: 5em;
  }
  .fa-angle-right{
    position: absolute;
    right: 0px;
  }
}

footer{
  background: $gris;
  padding: 12px 0px;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  p{
    color: white;
    max-width: 500px;
    font-size: 10px;
  }
  figure{
    padding: 0px 58px;
    img{max-width: 120px;}
  }
}

// loader



@import "mobile";
